<!doctype html>

<head>
    <title>Super Sprinter 3000</title>
</head>

<body>
    <h1>User Story Manager</h1>
    <p>
        <form>
            <input type="button" value="Add new User Story" onclick="location.href = 'new_story.html';">
        </form>
    </p>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Story Title</th>
            <th>User Story</th>
            <th>Acceptance Criteria</th>
            <th>Business Value</th>
            <th>Estimation</th>
            <th>Status</th>

        </tr>
        <ul class=stories>
            {% for story in stories %}
            <tr>
                <td>{{ story.id }}</td>
                <td>{{ story.title }}</td>
                <td>{{ story.story }}</td>
                <td>{{ story.criteria }}</td>
                <td>{{ story.value }}</td>
                <td>{{ story.estimation }}</td>
                <td>{{ story.status }}</td>
                <td><button type="submit" name="pen"><img src="templates/pen.png" style="width:20px;height:20px;" alt="">
                    <button type="submit" name="bin"><img src="templates/bin.jpg " style="width:20px;height:20px;" alt="">
                </td>
            </tr>
            {% endfor %}
    </table>
</body>