<!doctype html>

<head>
    <title>User Story Manager</title>
</head>

<body>
    <h1>User Story Manager</h1>
    <p><button type="button">Add new User Story</button></p>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Story Title</th>
            <th>User Story</th>
            <th>Acceptance Criteria</th>
            <th>Business Value</th>
            <th>Estimation</th>
            <th>Status</th>

        </tr>
        <tr>
            <td>1.</td>
            <td>Some Title</td>
            <td>Some Story</td>
            <td>Some Criteria</td>
            <td>1000</td>
            <td>30.05</td>
            <td>In Progress</td>
            <td><button type="button"><img src="pen.png" style="width:15px;height:15px;"></button>
                <button type="button"><img src="bin.jpg" style="width:15px;height:15px;"></button>
            </td>
        </tr>
    </table>
</body>