<!doctype html>

<head>
    <title>Super Sprinter 3000</title>
</head>

<body>
    <h1>User Story Manager</h1>
    <p>
        <form>
            <input type="button" value="Add new User Story" onclick="location.href = 'story';">
        </form>
    </p>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Story Title</th>
            <th>User Story</th>
            <th>Acceptance Criteria</th>
            <th>Business Value</th>
            <th>Estimation</th>
            <th>Status</th>

        </tr>
        <ul class=stories>
            {% for story in stories %}
            <tr>
                <td>{{ story.id }}</td>
                <td>{{ story.title }}</td>
                <td>{{ story.story }}</td>
                <td>{{ story.criteria }}</td>
                <td>{{ story.value }}</td>
                <td>{{ story.estimation }}</td>
                <td>{{ story.status }}</td>
                <td>
                    <form action="/story/{{ story.id }}" method=post>
                        <input type="hidden" id="id_for_update" name="id_for_update" value={{ story.id }} readonly>
                        <button type="submit" id="pen" name="pen">
                            <img src="templates/pen.png" style="width:20px;height:20px;" alt="">
                            </button>
                    </form>
                    <form action="{{ url_for('delete_user_story') }}" method=post>
                        <input type="hidden" id="id_for_delete" name="id_for_delete" value={{ story.id }} readonly>
                        <button type="submit" id="bin" name="bin">
                            <img src="templates/bin.jpg " style="width:20px;height:20px;" alt="">
                            </button>
                    </form>
                </td>
                {% else %}
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <p><strong>There are no Stories so far</strong></p> {% endfor %}
    </table>
</body>