{% extends "story_template.html" %} {% block title %}Add new Story{% endblock %} {% block form %}
<h1>Add new Story</h1>
<form action="{{ url_for('add_user_story') }}" method=post>
    <p>
        <label for="story title">Story Title</label>
    </p>
    <p>
        <textarea id="story title" name="story title" rows=1 cols=80 maxlength="70" required="required"></textarea>
    </p>
    <p>
        <label for="user story">User Story</label>
    </p>
    <p>
        <textarea id="user story" name="user story" rows=8 cols=80 maxlength="560" required="required"></textarea>
    </p>
    <p>
        <label for="acceptance criteria">Acceptance Criteria</label>
    </p>
    <p>
        <textarea id="acceptance criteria" name="acceptance criteria" rows=8 cols=80 maxlength="560" required="required"></textarea>
    </p>
    <p>
        <label for="business value">Business Value</label>
    </p>
    <p>
        <input type="number" id="business value" name="business value" min=100 max=1500 value=100 step=100>
    </p>
    <p>
        <label for="estimation">Estimation</label>
    </p>
    <p>
        <input type="number" id="estimation" name="estimation" min=0.5 max=40 value=0.5 step=0.5>
    </p>
    <p>
        <label for="status">Status</label>
    </p>
    <p>
        <select id="status" name="status">
                <option value="Planning">Planning</option>
                <option value="To Do">To Do</option>
                <option value="In Progress">In Progress</option>
                <option value="Review">Review</option>
                <option value="Done">Done</option>
            </select>
    </p>
    <p>
        <input type=submit id=Create value=Create>
    </p>
</form>
{% endblock %}
</body>